// 颜色定义规范
$color-background: #fafaf8;
$color-button: #00c7af;
$header-green: #75bb00;
$white: #fff;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme: #ffcd32;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text: #fff;
$color-text-d: rgba(255, 255, 255, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);
//字体定义规范
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-m: 20px;
$font-size-large-x: 24px;
$color-font: #41443b;
$color-font-medium-grey: #7e807a;
//宽度定义规范
$conent-width-normal: 1366px;
// markdown 规范
$markdown-title-border: #e8e8e8;
$markdown-th-background: #e8f4d6;
$markdown-pre-background: #ececec;
$markdown-pre-key: #05b6a1;
$markdown-pre-string: #ff8155;